<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Born2Beroot Index</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="indexWholePage">
    <div id="left">
      <div id="born">Born</div>
      <div id="to">2</div>
      <div id="be">Be</div>
      <div id="root">Root</div>
    </div>
    <img id="hackermen" src="/images/hackermen.jpeg" alt="hackermen">
  </div>
</body>
</html>
